<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pouillos.partagedonneesfournisseur">

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/icons8_export_bdd"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icons8_export_bdd"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.AccueilActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.DonneesContentProvider"
            android:authorities="com.pouillos.partagedonneesfournisseur.provider"

            android:exported="true"
            android:enabled="true"
            android:multiprocess="true"/>
    </application>

</manifest>